
body {
    background-image: url("/images/san_isidro.jpg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;


}
#login-container {
    max-width: 1000px;
    width: 200%;
    padding: 8%;
}

.card-header {
    text-align: center;
    color: aqua;
    /* Agrega otros estilos según tus necesidades */
  }
